GODWORD=pope
HIGHER_KINGS=king1,king2
LOWER_KINGS=lower1,lower2

# Postgres database
PG_URL=localhost
PG_USER=your_user
PG_PASSWORD=password

# Set to "true" to use the x-real-ip header, if BonziWORLD is behind something like nginx
USE_X_REAL_IP=true

# api keys
CLOUDFLARE_ZONE=blah
CLOUDFLARE_KEY=blah
DISCORD_WEBHOOK=https://discord.com/api/webhooks/blah
